@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: calc(100svh - 4rem);
  width: 100%;
  overflow-x: hidden;
  justify-content: space-between;
}

.app {
  display: flex;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}